@font-face { 
    font-family:'Pirate';
    src:url('fonts/Vinque Rg.otf') format('truetype');
}

*
{
    margin: 0;
    padding: 0;
    text-align: center;
   
}
h1, h2 {
    z-index: 10;
    margin: 100px 0;
    color: #fff;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    min-height: 100vh;
    background: #333;
}
footer, section
{
    position: relative;
    width: 100%;
    height: 300px;
    background: #3586ff;
}
p {
    position: absolute;
    height: 200px;
    width: 100%;
    color: #fff;
    background: #3586ff;
    text-decoration: none;
}
a {
    text-decoration: none;
    font-size: 25px;
}
.options {
    z-index: 10;
    width: 100%;
    min-height: 100px;
    margin: auto;
    background: #3586ff;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}
.choice {
    width: 48%;
    min-height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.back-button {
    position: absolute;
    width: 30%;
    margin-left: 70%;
    background: #3586ff;
    text-decoration: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
footer .wave
{
    position: absolute;
    top: -100px;
    width: 100%;
    height: 100px;
    background: url(wave.png);
    background-size: 1000px  100px;
}
footer .wave#wave1
{
    z-index: 3;
    opacity: 1;
    bottom: 0px;
    animation: animate 4s linear infinite;
}
footer .wave#wave3
{
    z-index: 2;
    opacity: 0.2;
    bottom: 15px;
    animation: animate 3s linear infinite;
}
footer .wave#wave2
{
    z-index: 1;
    opacity: 0.5;
    bottom: 10px;
    animation: animate2 4s linear infinite;
}
footer .wave#wave4
{
    z-index: 1;
    opacity: 0.7;
    bottom: 20px;
    animation: animate2 3s linear infinite;
}
@keyframes animate
{
    0%
    {
        background-position: 1000px;
    }
    100%
    {
        background-position: 0;
    }
}
@keyframes animate2
{
    0%
    {
        background-position: 0px;
    }
    100%
    {
        background-position: 1000px;
    }

}
.background {
    position: relative;
    width: 100%;
    min-height: 300px;
    background: #3586ff;
    display:flex;
    flex-direction:column;
    flex-wrap:wrap;
    margin:0 auto;
    padding:20px;
}

.hort_sec {
    position:relative;

    width:100%;
    gap: 15px;
    object-fit:contain;
    background:#3586ff;
    display:flex;
    flex-direction:row;
    align-items:center;


}
    
.krack { 
    background:#3586ff;
    width:500px;
    margin: 50px 0 0;
    border: 10px solid #333;
}
.imgs {
     background:#3586ff;
     width:750px;
     margin:auto;
     
}
.p_test {
    position: static;
    background:#3586ff ;
    height:auto;
    width:auto;
    font-size:25px;
    margin:auto 0;
    font-family:'Pirate',sans-serif;
}

.blk {
    color:#000000;
    font-size:35px;
    font-family:'Pirate',sans-serif;
}

