*
{
    margin: 0;
    padding: 0;
    text-align: center;
}
h1 {
    z-index: 10;
    margin: 100px 0;
    color: #fff;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    min-height: 100vh;
    background: #333;
}
footer
{
    position: relative;
    width: 100%;
    height: 400px;
    background: #3586ff;
}
p {
    position: absolute;
    height: 200px;
    width: 100%;
    color: #fff;
    background: #3586ff;
}

.options {
    position: relative;
    z-index: 10;
    width: 100%;
    min-height: 100px;
    background: #3586ff;
}
.choice {
    z-index: 10;
    width: 33.33%;
    min-height: 50px;
}
.game {
    z-index: 10;
    width: center;
    background: #3586ff;
}
.back-button {
    position: absolute;
    width: 20%;
    margin-left: 80%;
    background: #3586ff;
}
footer .wave
{
    position: absolute;
    top: -100px;
    width: 100%;
    height: 100px;
    background: url(wave.png);
    background-size: 1000px  100px;
}
footer .wave#wave1
{
    z-index: 3;
    opacity: 1;
    bottom: 0px;
    animation: animate 4s linear infinite;
}
footer .wave#wave3
{
    z-index: 2;
    opacity: 0.2;
    bottom: 15px;
    animation: animate 3s linear infinite;
}
footer .wave#wave2
{
    z-index: 1;
    opacity: 0.5;
    bottom: 10px;
    animation: animate2 4s linear infinite;
}
footer .wave#wave4
{
    z-index: 1;
    opacity: 0.7;
    bottom: 20px;
    animation: animate2 3s linear infinite;
}
@keyframes animate
{
    0%
    {
        background-position: 1000px;
    }
    100%
    {
        background-position: 0;
    }
}
@keyframes animate2
{
    0%
    {
        background-position: 0px;
    }
    100%
    {
        background-position: 1000px;
    }
}